{% if site.gitalk %}
<div class="comments">
    <div id="gitalk-container"></div>
    <script>
        const gitalk = new Gitalk({
          clientID: "{{ site.gitalk.08e06aaa4c5a92458a2e }}",
          clientSecret: "{{ site.gitalk.a4203a01e0fac8890a6c2202d0ee77c62ace29dc }}",
          repo: "{{ site.gitalk.am.github.io }}",
          owner: "{{ site.gitalk.AMos630 }}",
          admin: ["{{ site.gitalk.owner }}"],
          id: window.location.pathname,      // Ensure uniqueness and length less than 50
          distractionFreeMode: false,  // Facebook-like distraction free mode
          title: "{{ page.title }}",
          language: "zh-CN",

        })
        
        gitalk.render('gitalk-container')
    </script>
</div>
{% endif %}
